In [1]:
import pandas as pd

df = pd.read_csv('All University Fund.csv')

df.head()

  附件1、高等教育深耕計畫核定經費 (一般大學) Unnamed: 1 Unnamed: 2
0                     NaN        NaN      單位：萬元
1                    學校代碼       學校名稱       核定經費
2                    0001     國立政治大學     28,579
3                    0002     國立清華大學    100,000
4                    0003     國立臺灣大學    180,000