In [15]:
import pandas as pd
df = pd.read_csv('All University Fund.csv')
df

                              附件1、高等教育深耕計畫核定經費 (一般大學) Unnamed: 1 Unnamed: 2
0                                              Number       Name       Fund
1                                                0001     國立政治大學     28,579
2                                                0002     國立清華大學    100,000
3                                                0003     國立臺灣大學    180,000
4                                                0004   國立臺灣師範大學     20,690
..                                                ...        ...        ...
69                                               1195      馬偕醫學院      4,306
70                                               1196     法鼓文理學院        381
71                                               1R04    一貫道天皇學院        517
72                                               3002     臺北市立大學      4,440
73  【備註】\n1. 學校排序依教育部統計處學校代碼排序呈現。\n2. 以上含深耕計畫第一部分(...        NaN        NaN

[74 rows x 3 columns]

In [35]:
df_fund = temp.groupby(['Unnamed: 1'])['Unnamed: 2'].sum().reset_index()
df_fund

   Unnamed: 1 Unnamed: 2
0        Name       Fund
1     一貫道天皇學院        517
2        世新大學      6,016
3    中信金融管理學院        889
4        中原大學     13,558
..        ...        ...
68       長榮大學      5,397
69       開南大學      1,871
70       靜宜大學      8,672
71      馬偕醫學院      4,306
72     高雄醫學大學     10,052

[73 rows x 2 columns]

In [26]:
df_rank = pd.read_csv('University Rank.csv')
df_rank

    Rank      Name      總分  A.學術成就  B.教學環境  C.國際化程度  D.產學績效
0      1    國立臺灣大學  100.00  100.00  100.00   100.00  100.00
1      2    國立清華大學   67.63   64.14   59.49    84.43   77.98
2      3    國立成功大學   67.03   59.69   66.65    77.24   74.84
3      4    國立交通大學   65.55   54.92   62.16    87.87   75.95
4      5  國立臺灣師範大學   60.90   55.28   56.36    80.56   64.95
5      6    臺北醫學大學   59.54   51.59   59.22    77.87   60.54
6      7    國立政治大學   59.29   52.43   53.99    95.12   51.82
7      8    國立陽明大學   58.02   59.87   54.47    62.00   58.04
8      9    國立中山大學   56.78   50.63   51.86    76.77   62.64
9     10    國立中興大學   56.76   47.82   56.88    69.87   64.22
10    11    國立中央大學   56.61   53.74   54.77    60.39   63.83
11    12      長庚大學   56.47   56.02   55.96    62.69   52.53
12    13    中國醫藥大學   55.91   53.97   55.96    65.79   50.45
13    14  國立臺灣科技大學   55.51   47.42   50.13    80.00   62.45
14    15  國立臺北科技大學   54.02   46.64   52.62    67.62   60.89
15    16    高雄醫學大學   53.52   49.56   53.43    65.86   50.66
16    17      元智大學   49.75   44.99   44.89    73.91   48.02
17    18      淡江大學   48.18   27.49   48.40    97.09   47.03
18    19      世新大學   48.08   43.73   44.97    70.62   42.96
19    20      逢甲大學   46.53   25.79   49.93    86.63   46.90
20    21      輔仁大學   45.98   29.40   49.67    79.06   43.00
21    22    國立中正大學   45.74   49.50   29.31    64.68   56.36
22    23      東海大學   45.26   26.21   48.91    79.99   46.46
23    24  國立高雄科技大學   45.19   25.35   49.24    64.14   63.12
24    25  國立臺灣海洋大學   44.80   25.67   49.42    66.58   56.91
25    26      中原大學   44.74   26.11   48.45    74.46   49.84
26    27    國立臺北大學   44.63   29.49   47.96    67.08   49.74
27    28      亞洲大學   44.27   48.38   26.45    76.93   43.58
28    29    中國文化大學   44.26   26.48   43.76    78.58   52.59
29    30  國立雲林科技大學   43.72   44.60   27.73    66.14   56.57
30    31      銘傳大學   43.64   26.64   44.49    79.11   45.86
31    32  國立彰化師範大學   43.55   26.42   48.91    60.97   53.58
32    33  國立屏東科技大學   43.49   24.84   46.38    66.61   57.15
33    34      東吳大學   43.34   27.89   47.47    73.46   39.66
34    35  國立臺中教育大學   42.41   45.87   28.48    61.10   48.14
35    36      實踐大學   42.22   25.27   44.31    79.61   39.48
36    37  國立臺北商業大學   41.00   23.08   47.38    59.50   49.45
37    38  國立臺北教育大學   40.93   25.51   47.93    53.29   48.19
38    39    明新科技大學   38.61   21.96   44.02    61.58   41.86
39    40      真理大學   38.19   23.94   43.66    58.20   38.62
40    41  國立虎尾科技大學   38.13   41.98   24.84    46.09   52.19
41    43    國立東華大學   37.04   27.75   28.03    61.66   55.10
42    44      慈濟大學   36.80   27.04   31.48    64.59   44.16
43    45    臺北市立大學   36.41   27.36   29.03    62.61   48.56
44    46      中華大學   36.00   23.32   25.97    78.64   46.39
45    47      義守大學   35.88   24.40   25.62    74.40   48.09
46    48      靜宜大學   35.73   25.20   24.13    80.76   42.31
47    49    國立宜蘭大學   35.72   24.64   28.32    64.13   50.42
48    50    國立高雄大學   35.58   24.27   27.30    67.45   49.43

In [36]:
frames = [df_fund, df_rank]

result = pd.concat(frames)

result

   Unnamed: 1 Unnamed: 2  Rank    Name     總分  A.學術成就  B.教學環境  C.國際化程度  D.產學績效
0        Name       Fund   NaN     NaN    NaN     NaN     NaN      NaN     NaN
1     一貫道天皇學院        517   NaN     NaN    NaN     NaN     NaN      NaN     NaN
2        世新大學      6,016   NaN     NaN    NaN     NaN     NaN      NaN     NaN
3    中信金融管理學院        889   NaN     NaN    NaN     NaN     NaN      NaN     NaN
4        中原大學     13,558   NaN     NaN    NaN     NaN     NaN      NaN     NaN
..        ...        ...   ...     ...    ...     ...     ...      ...     ...
44        NaN        NaN  46.0    中華大學  36.00   23.32   25.97    78.64   46.39
45        NaN        NaN  47.0    義守大學  35.88   24.40   25.62    74.40   48.09
46        NaN        NaN  48.0    靜宜大學  35.73   25.20   24.13    80.76   42.31
47        NaN        NaN  49.0  國立宜蘭大學  35.72   24.64   28.32    64.13   50.42
48        NaN        NaN  50.0  國立高雄大學  35.58   24.27   27.30    67.45   49.43

[122 rows x 9 columns]